<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>557948698592-70fpr3p0mm6hpbtet0j2akaivl4hq43s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA1vU0n42fTc5xLjBsX05K0Fx_dvwjU5w4</string>
	<key>GCM_SENDER_ID</key>
	<string>557948698592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mytestapp</string>
	<key>PROJECT_ID</key>
	<string>mytennis-63b51</string>
	<key>STORAGE_BUCKET</key>
	<string>mytennis-63b51.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557948698592:ios:23f20f7e09ed0c3292f585</string>
	<key>DATABASE_URL</key>
	<string>https://mytennis-63b51.firebaseio.com</string>
</dict>
</plist>